<section class="choose">
  <h2>Why Choose Us</h2>
</section>


<section >
    <div class="row">
        <div class="col sm-6">
            <div class="choose1">
                <section>
                    <div class="client-oriented">
                        <h3>Client-Oriented</h3>
                        <p>At Glocal View, we think that honesty is the best policy—and it’s the most effective way to create great products with best Quality.</p>
                    </div>
                </section>
                <section>
                    <div class="Proactive-Approach">
                        <h3>Proactive-Approach</h3>
                        <p>Our team quickly responds to new requirements and changes thanks to 
                        the elaborate development process and no bureaucracy.</p>
                    </div>
                </section>
            </div>
        </div>

        <div class="col sm-6">
            <div class="choose2">
                <section>
                    <div class="Quality-assurance">
                        <h3>Quality-Assurance</h3>
                        <p>We ensure that the products we sell are of high quality, because we collect requirements before creating a scope of work.</p>
                     </div>
                </section>
                <section>
                    <div class="Technical-Expertise">
                        <h3>Technical-Expertise</h3>
                        <p>We have a team of highly qualified and certified software developers who have expertise in different industries.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>