<section class="values">
    <h2>Our Values</h2>
</section>
  
  
<section>
    <div class="row">
        <div class="col sm-6">
            <div class="values1">
                <section>
                    <div class="quality-driven">
                        <h3>Quality driven</h3>
                        <p>With our best-in-class infrastructure and most sought-after technical 
                            expertise, we ensure superior quality delivered in a timely manner aligned with your expectations</p>
                    </div>
                </section>
                <section>
                    <div class="innovation">
                        <h3>Innovation</h3>
                        <p>We constantly thrive on new ideas and better implementation strategies to 
                            help our customers innovate and transform their business</p>
                    </div>
                </section>
            </div>
        </div>
  
        <div class="col sm-6">
            <div class="choose2">
                <section>
                    <div class="Well-established-process">
                        <h3>Well established process</h3>
                        <p>Our great set of internal frameworks and defined processes have led 
                            to proven track record of creating benchmarks in providing excellent IT outsourcing services.</p>
                    </div>
                </section>
                <section>
                    <div class="broad-industry-experience">
                        <h3>Broad industry experience</h3>
                        <p>With our accumulated expertise over time, we can provide our customers with custom 
                            applications that span multiple industry domains.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
