<section>
    <div class="row">
        <div class="col sm-8">
            <h1>
                <b>Tell us about your project</b>
            </h1>
            <p>
                Feel free to contact us for a consultation or talk about your project.
                OR
                Share your project's query through the given form.
            </p>
        </div>
        <div class="col sm-4">
            <div class="section1">
                <div class="box">
                    <form>
                        <div class="inputBox">
                            <input type="text" required="required">
                            <span>Your Name</span>
                            <i></i>
                        </div>
                        <div class="inputBox">
                            <input type="number" name="" id="">
                            <span>Mobile Number</span>
                            <i></i>
                        </div>
                        <div class="inputBox">
                            <input type="email" name="" id="">
                            <span>Your Email</span>
                            <i></i>
                        </div>
                        <div class="inputBox">
                            <input type="text" required="required">
                            <span>About Project</span>
                        </div>
                        <div>
                            <input type="file" name="upload" id="" value="Upload">
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>