/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.carousel-control-next,
.carousel-control-prev {
    bottom: 45px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    /* background-color: black;
    border-radius: 5px;
     */
    height: 90px;
    width: 60px;
}

.carousel-indicators {
    bottom: 50px;
    margin: 0;
}